@import 'https://fonts.googleapis.com/css?family=Lato';


html,
body {
    margin: 0px;
    padding: 0px;
    font-family: 'Raleway', sans-serif;
    background-color: white;
    max-width: 100%;
}

body {
    height: 100%;
    overflow:scroll;
}
p {
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    color: #2E2E2E;
    text-align: justify;
}

img:focus {
    outline: -webkit-focus-ring-color auto 0px;


}
.container {
    max-width: 960px;
    margin: 0 auto;
}
/*Navagation CSS */

.navbar-default .navbar-brand {
    font-size: 20px;
    color: white;
}
.navbar-default .navbar-brand:hover {
    color: #FF0049;
    transition: .5s;
}
.navbar-default .navbar-nav > li > a {
    color: white;
}
.navbar-default .navbar-nav > li > .nav-header {
    color: white;
}
.navbar-default .navbar-nav > li > a:focus,
.navbar-default .navbar-nav > li > a:hover {
    color: #FF0049;
    transition: .2s;
}
.nav-text {
    font-size: .9em;
}
.navbar-default {
    background: transparent;
    border: none !important;
}

.navbar-default .navbar-collapse, .navbar-default .navbar-form {
    border-color:white !important;
}
.dropdown-menu {
    border: none !important;
    border-radius: 0;
    color:black !important;
    background-color: ;
}

.dropdown-menu>li>a {
    color:black;
}
.dropdown-menu>li>a:focus, .dropdown-menu>li>a:hover {
    background-color: transparent;
    color:#FF0049;
    transition: .3s;
}

.dropdown .dropdown-menu {
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;

    max-height: 0;
    display: block;
    overflow: hidden;
    opacity: 0;
}

.dropdown.open .dropdown-menu {
    max-height: 300px;
    opacity: 1;
}

.navbar-default .navbar-nav>.open>a.  {
    color:white;
    background-color: transparent;
}

.navbar-default .navbar-nav>.open>a:focus, .navbar-default .navbar-nav>.open>a:hover {
    color:#FF0049;
    background-color: transparent;


}

.navbar-default button{
    border: none;
}

.navbar-default .navbar-toggle .icon-bar {
    height:2px;
    background-color:black;
}

.navbar-default .navbar-toggle {
    border-radius: 0;
}
.navbar-default .navbar-toggle:hover {
    background-color: #FF0049;
    transition: .3s;
}
/* Main Intro with Video Play Button */

.title {
    background: linear-gradient( rgba(0, 0, 1, 0.4), rgba(0, 0, 1, 0.4)), url(../images/rr-main.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center center;
    background-clip: border-box;
    background-origin: padding-box;
    -webkit-background-size: auto;
    -moz-background-size: auto;
    -o-background-size: auto;
    background-color: white;
    text-align: center;
    padding-top: 14em;
    height:100vh;
}
/*Main Block with information for RR */

.main {
    position: relative;
    color: white;
}
.main img:first-child {
    width: 120px;
    height: auto;
    padding-bottom: 20px;
}
.main img {
    width: 60px;
    height: 32px;
    margin-top: 60px;
}
.main h1 {
    font-size: 50px;
}
.jumbotron {
    padding: none;
    text-align: left;
    background-color:white;
}
.intro {} .intro h1,
h2,
p {
    padding-bottom: 5px;
}
.intro h2 {
    font-size: 14px;
}
.intro .image {
    text-align: center;
}
.intro img {
    height: 80%;
    width: 80%;
}
.image {
    text-align: center;
    padding-left: auto;
    padding-right: auto;
}
.border-line {
    background-color: #FF0049;
    height: 2px;
    width: 150px;
    display: inline-block;
}
.main-color {
    color: #FF0049;
}
.supporting {
    min-height: 350px;
    text-align: left;
    color: white;
    display: block;
}
.supporting .zoom-gallery {
    text-align: center;
    padding-bottom: 32px;
}
.supporting .zoom-gallery img {
    padding-top: 16px;
    padding-left: 20px;
    width: auto;
    max-height: 200px;
}
.line-up {
    padding-top: 50px;
    padding-bottom: 50px;
    text-align: center;
    min-height: 700px;
    color: black;
    /* Rectangle 6: */

    background-color: #F8F8F8;
    background: linear-gradient( rgba(0, 0, 1, 0.7), rgba(0, 0, 1, 0.7)), url("../images/line-up.png");
    display: block;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: center center;
    background-clip: border-box;
    background-origin: padding-box;
    -webkit-background-size: auto;
    -moz-background-size: auto;
    -o-background-size: auto;
    color: white;
    display: block;
}
.line-up h2:first-child {
    padding-top: 24px;
}
.line-up h2 {
    padding-bottom: -10px;
    font-size: 24px;
}
.footer {
    padding: 30px;
    background-color: #EEEEEE;
    text-align: center;
    min-height: 150px;
}
.footer img {
    height: 50px;
    width: 50px;
    margin: 5px 20px 20px auto;
}

.footer-links {
    margin-top: 20px;
    margin-bottom: 40px;
}

.row.footer-links{
    margin-bottom:0px;
}
.footer-links>a {
    padding:10px;
    color:black;
    text-decoration: none;
    font-weight: bold;
    font-size: 16px;

}

.footer-links a:hover {
    color:#FF0049;
    transition: .2s;
}

.footer-links a,.footer-links p {
    color:black;
    text-decoration:none;
    text-align: center;
}

.footer-links a:hover {
    color:#FF0049;
    transition:.2s;
}
/*Individual Page's CSS for other links such as about.html and others    */
.about-header {
    width: auto;
    height: 80vh;
    perspective: 1px;
    overflow-x: hidden;
    overflow-y: hidden;
    background-size: auto;
    -webkit-background-size: auto;
    -moz-background-size: auto;
    -o-background-size: auto;
    background: linear-gradient( rgba(0, 0, 1, 0.6), rgba(0, 0, 1, 0.6)), url("../images/about.jpg") center left;
    color: white;
    padding-top: 12em;
    padding-bottom:5vh;
    padding-left: 18px;
    text-align: left;
}
.about-header h1 {
    font-weight: bold;
}

.about-header,
.organization-header,
.apply-header,
.sponsor-header,
.contact-header,
.donate-header,
.sponsors-header,
.liaison-header {
    font-size: 2em;
}
.about-section > .jumbotron {
    text-align: center;
}
.about-section p {
    font-size: 18px;
    text-align: left;
    line-height: 2;
}
.about-section,
.board h1 {
    margin-bottom: 24px;
}
.about-section img {
    margin: 50px 0 0 0;
    max-height: 60%;
    width: 60%;
}
.shadow {
    box-shadow: 2px 5px 5px #888888;
}
.border-line-2 {
    background-color: #00C874;
    height: 2px;
    width: 150px;
    display: inline-block;
}
.border-line-3 {
    background-color: rgb(96, 126, 246);
    height: 2px;
    width: 150px;
    display: inline-block;
    margin:2em 0 5em;
}

.border-line-4 {
    background-color: #00BFFF;
    height: 2px;
    width: 150px;
    display: inline-block;
}

.about-section .zoom-gallery {
    text-align: center;
}
.about-section-2 {
    padding-top: 50px;
    padding-bottom: 50px;
    min-height: 200px;
    text-align: center;
}
.page-breaker {
    min-height: 300px;
    background: linear-gradient( rgba(0, 0, 1, 0.7), rgba(0, 0, 1, 0.7)), url("../images/what_we_do.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center center;
    background-origin: padding-box;
    background-size: auto;
    color: white;
    text-align: center;
}
.organization-header {
    width: 100%;
    height: 80vh;
    perspective: 1px;
    transform: translateZ(-1px);
    overflow-x: hidden;
    overflow-y: hidden;
    background-size: auto;
    -webkit-background-size: auto;
    -moz-background-size: auto;
    -o-background-size: auto;
    background: linear-gradient( rgba(0, 0, 1, 0.6), rgba(0, 0, 1, 0.6)), url("../images/organization.jpg") no-repeat center top fixed;
    color: white;
    padding-top: 12em;
    padding-bottom:5vh;
    padding-left: 18px;
    text-align: left;
}

.organization-header h1 {
    font-weight: bold;
}

.board h2 {
  margin-bottom: 1em;
}
.roundtable-img {
  width:400px;
  height: auto;
  margin:5px;
}
.liaison-header {
    width: 100%;
    height: 80vh;
    perspective: 1px;
    transform: translateZ(-1px);
    overflow-x: hidden;
    overflow-y: hidden;
    background-size: auto;
    -webkit-background-size: auto;
    -moz-background-size: auto;
    -o-background-size:auto;
    background: linear-gradient( rgba(0, 0, 1, 0.6), rgba(0, 0, 1, 0.6)), url("../images/liaison.jpg") no-repeat center center fixed;
    color: white;
    padding-top: 12em;
    padding-bottom:5vh;
    padding-left: 18px;
    text-align: left;
}
.liaison-header h1 {
    font-weight: bold;
}
.board h3 {
    text-align: center;
    margin-bottom: 50px;
}
.board {
    text-align: center;
}
.board h4 {
    margin-top: 24px;
}
.board p {
    margin-top: 24px;
    text-align: justify;
}
.board {
    padding-top: 50px;
}
/*Apply Page CSS */

.apply-header {
    width: 100%;
    height: 80vh;
    perspective: 1px;
    overflow-x: hidden;
    overflow-y: visible;
    background-size: auto;
    -webkit-background-size: auto;
    -moz-background-size: auto;
    -o-background-size: auto;
    background: linear-gradient( rgba(0, 0, 1, 0.6), rgba(0, 0, 1, 0.6)), url("../images/apply.jpg") no-repeat center center scroll;
    color: white;
    padding-top: 12em;
    padding-bottom:5vh;
    padding-left: 18px;
    text-align: left;
}
.apply-header h1 {
    font-weight: bold;
}
.apply {
    margin-top: 35px;
}
.apply h2 {
    text-align: left;
}
.left {
    text-align: left;
}
.btn {
    text-decoration: none;
    text-align: center;
    background-color: white;
    border: 2px solid #00C874;
    color: black;
    font-size: 24px;
    padding: 8px 30px;
    display: block;
    margin: auto;
    max-width: 400px;
    border-radius: 0;
    margin-bottom: 50px;
    text-decoration: none;
}
.btn:hover {
    background: #00C874;
    color: white;
    cursor: pointer;
    transition: .2s;
    text-decoration: none;
}
/*Contact Us CSS Page    */

.contact-header {
    min-height: 200px;
    background: linear-gradient( rgba(255, 90, 45, 0.6), rgba(255, 90, 45, 0.6)), url("../images/rr-logo.png");
    display: block;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: left top;
    background-clip: border-box;
    background-origin: padding-box;
    color: white;
    padding-top: 100px;
    text-align: center;
}
.contact {
    margin-top: 100px;
    margin-bottom: 50px;
}
.contact label {
    padding-top: 10px;
}
.contact button {
    margin-top: 10px;
    background-color:rgba(255, 90, 45, 0.6);
    border:none;
    width:70px;
    height:30px;
    color:white;
}

.contact button:hover {
    transition: .3s;
    color:black;

}
.faq {
    margin-bottom: 100px;
}
.faq h1 {
    text-align: center;
    padding-bottom: 24px;
    font-size: 32px;
}
.faq h3 {
    padding-bottom: 10px;
}
.faq p {
    padding-bottom: 10px;
    text-align: justify;
    font-size:16px;
}
.faq a {
    color: black;
}
iframe {
    padding-left: auto;
    padding-right: auto;
}
span {
    font-weight: bold;
}
/* Donate CSS page */

.donate-header {
    min-height: 200px;
    background: linear-gradient( rgba(125, 28, 28, 0.6), rgba(125, 28, 28, 0.6)), url("../images/rr-logo.png");
    display: block;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: left top;
    background-clip: border-box;
    background-origin: padding-box;
    color: white;
    padding-top: 100px;
    text-align: center;
}
.btn-donate {
    text-decoration: none;
    text-align: center;
    background-color: white;
    border: 2px solid #7D1C1C;
    color: black;
    font-size: 18px;
    padding: 8px 30px;
    display: block;
    margin: auto;
    width: 240px;
    border-radius: 0;
    margin-bottom: 200px;
    margin-top: 50px;
    text-decoration: none;
}
.btn-donate:hover {
    background: #7D1C1C;
    color: white;
    cursor: pointer;
    transition: .2s;
    text-decoration: none;
}


.btn-apply {
    text-decoration: none;
    text-align: center;
    background-color: white;
    border: 2px solid #00BFFF;
    color: black;
    font-size: 24px;
    padding: 8px 30px;
    display: block;
    margin: auto;
    max-width: 400px;
    border-radius: 0;
    margin-bottom: 50px;
    text-decoration: none;
}
.btn-apply:hover {
    background:#00BFFF;
    color: white;
    cursor: pointer;
    transition: .2s;
    text-decoration: none;
}

.border-line-donate {
    background-color: #7D1C1C;
    height: 2px;
    width: 150px;
    display: inline-block;
}
/*Sponsors CSS page */

.sponsors-header {
    min-height: 200px;
    background: linear-gradient( rgba(253, 192, 62, 0.6), rgba(253, 192, 62, 0.6)), url("../images/rr-logo.png");
    display: block;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: left top;
    background-clip: border-box;
    background-origin: padding-box;
    color: white;
    padding-top: 100px;
    text-align: center;
}


/*CSS for Hamburger Menu Transition        */

.navbar-toggle .icon-bar:nth-of-type(2) {
      top: 0px;
}

.navbar-toggle .icon-bar:nth-of-type(3) {
    top: 0px;
}

.navbar-toggle .icon-bar {
      position: relative;
      transition: all 500ms ease-in-out;
}

.navbar-toggle.active .icon-bar:nth-of-type(2) {
      top: 6px;
      transform: rotate(45deg);
}

.navbar-toggle.active .icon-bar:nth-of-type(3) {
      background-color: transparent;
}

.navbar-toggle.active .icon-bar:nth-of-type(4) {
      top: -6px;
      transform: rotate(-45deg);
}

/* Mobile CSS */
@media(max-width: 480px) {
    .title {
        background-position: left bottom;
    }

    .about-header {
         background: linear-gradient( rgba(0, 0, 1, 0.6), rgba(0, 0, 1, 0.6)), url("../images/about.jpg") center center;

}
    .footer-links a {
        display: block;
    }

    .roundtable-img {
      width:300px;
    }

}

/* Ipad CSS */

@media (max-width: 760px) {
    .nav>li, .dropdown-menu {
        font-size: 24px;
    }

    .navbar-default .navbar-nav > li > a {
        padding:20px;
    }
}
@media (max-width: 960px) {
    .main {
        height: 540px;
    }
    .main video {
        height: 540px;
        width: 960px;
    }
    .main h1 {
        font-size: 32px;
    }

    .navbar-default .navbar-brand {
        font-size:1em;
}
}
@media only screen and (max-width: 960px) {
    .navbar-default {
        background: white;
        border: none !important;
        position: fixed;
        color: black;
    }
    .title {
        background-attachment: scroll;
    }
    .navbar-default .navbar-nav > li > a {
        color: black;
        text-align: center;
}

    .apply-header, .about-header, .organization-header, .liaison-header {
        background-attachment:scroll;
        padding-top: 7em;
    }

    .navbar-default .navbar-brand {
        color:black;
    }

    .navbar-default .dropdown-menu>li>a {
        color:black;
        text-align: center;
    }
    }
